* {
    margin: 0;
    font-family: sans-serif;
}

.imagem {
    background: url(mulher-viajando.png);
    height: 600px;
    background-size: cover;
    background-position: right;
}

.imagem nav ul {
    text-align: right;
    margin: 10px 30px 0 0;
}

.imagem nav ul li {
    justify-content: right;
    display: inline-block;
    letter-spacing: 2px;
    }

a {
    text-decoration: none;
    color: rgb(80, 76, 76);
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(237, 177, 139);
}

div {
    color: rgb(80, 76, 76);
    text-align: left;
    font-size: 3em;
    justify-content: left;
    margin-top: 80px;
}

button{
    font-size: 1.5em;
    border-radius: 5px 5px 5px 5px;
    align-items: center;
    margin-left: 250px;
    margin-top: 50px;
    color: rgb(80, 76, 76);
    background-color: rgb(237, 177, 139);
}

.mexico,
.colombia,
.brasil{
border-radius: 5px 5px 5px 5px;
background-color: rgb(237, 177, 139);
margin: 30px;
}

article header{
   margin: 50px;
   background-color: white;
   text-align: center;
   font-size: 2em;
}

footer{
    font-size: 1.5em;
    text-align: center;
    margin-top: 80px;
    background-color: rgb(237, 177, 139);
}